body {
	background-image: url("https://www.imgbase.info/images/safe-wallpapers/video_games/metal_gear_solid/44189_metal_gear_solid.jpg");
	margin: 0px;
}

.img-responsive {
	margin: 0 auto;
}

.section {
	border: solid;
	border-width: 8px;
	border-color: #ddd;
	background-color: #fff;
	margin-bottom: 25px;
	padding: 10px;
}

#game {
	font-size: 20px;
}